In [6]:
import pandas as pd
from datetime import date
import numpy as np

In [7]:
prep = pd.read_csv("data/prep.csv",index_col=0)
prep

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,fri_ct,extra_fri,sat_ct,extra_sat,sun_ct,extra_sun,fulldata,t,covid,control
0,2022,3,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",135.0,12.0,4.21,1.93,...,4,0,4,0,4,0,0,226,0,0
1,2022,3,9E,Endeavor Air Inc.,ABY,"Albany, GA: Southwest Georgia Regional",79.0,10.0,4.03,0.76,...,4,0,4,0,4,0,0,226,0,0
2,2022,3,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",79.0,15.0,5.36,0.37,...,4,0,4,0,4,0,0,226,0,0
3,2022,3,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",147.0,12.0,3.92,1.00,...,4,0,4,0,4,0,0,226,0,0
4,2022,3,9E,Endeavor Air Inc.,ALB,"Albany, NY: Albany International",92.0,21.0,2.72,0.98,...,4,0,4,0,4,0,0,226,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317694,2003,6,DL,Delta Air Lines Inc.,SEA,"Seattle, WA: Seattle/Tacoma International",480.0,84.0,25.69,3.09,...,4,0,4,0,5,1,0,1,0,0
317695,2003,6,DL,Delta Air Lines Inc.,SFO,"San Francisco, CA: San Francisco International",505.0,111.0,21.78,2.24,...,4,0,4,0,5,1,0,1,0,0
317696,2003,6,DL,Delta Air Lines Inc.,SJC,"San Jose, CA: Norman Y. Mineta San Jose Intern...",146.0,36.0,6.99,0.00,...,4,0,4,0,5,1,0,1,0,0
317697,2003,6,DL,Delta Air Lines Inc.,SJU,"San Juan, PR: Luis Munoz Marin International",95.0,13.0,3.66,0.00,...,4,0,4,0,5,1,0,1,0,0
317698,2003,6,DL,Delta Air Lines Inc.,SLC,"Salt Lake City, UT: Salt Lake City International",3466.0,454.0,121.15,7.61,...,4,0,4,0,5,1,0,1,0,0

In [8]:

monthSums = prep.groupby([prep.t,prep.month,prep.year,prep.covid,prep.control,prep.extra_mon,prep.extra_tue,prep.extra_wed,prep.extra_thu,prep.extra_fri,prep.extra_sat,prep.extra_sun,prep.top30,prep.fulldata,prep.mon_ct,prep.tue_ct,prep.wed_ct,prep.thu_ct,prep.fri_ct,prep.sat_ct,prep.sun_ct]).sum()

monthSums.to_csv('data/sum-months.csv')

In [5]:
monthSums

                                                                                                                                                                    arr_flights  \
t   month year covid control extra_mon extra_tue extra_wed extra_thu extra_fri extra_sat extra_sun top30 fulldata mon_ct tue_ct wed_ct thu_ct fri_ct sat_ct sun_ct
1   6     2003 0     0       1         0         0         0         0         0         1         0     0        5      4      4      4      4      4      5          203148.0
                                                                                                   1     0        5      4      4      4      4      4      5          333348.0
2   7     2003 0     0       0         1         1         1         0         0         0         0     0        4      5      5      5      4      4      4          211130.0
                                                                                                   1     0        4      5      5      5      4      4      4          347438.0
3   8     2003 0     0       0         0         0         0         1         1         1         0     0        4      4      4      4      5      5      5          210180.0
...                                                                                                                                                                         ...
224 1     2022 0     0       1         0         0         0         0         1         1         1     0        5      4      4      4      4      5      5          342009.0
225 2     2022 0     0       0         0         0         0         0         0         0         0     0        4      4      4      4      4      4      4          180879.0
                                                                                                   1     0        4      4      4      4      4      4      4          314834.0
226 3     2022 0     0       0         1         1         1         0         0         0         0     0        4      5      5      5      4      4      4          207589.0
                                                                                                   1     0        4      5      5      5      4      4      4          357264.0

                                                                                                                                                                    arr_del15  \
t   month year covid control extra_mon extra_tue extra_wed extra_thu extra_fri extra_sat extra_sun top30 fulldata mon_ct tue_ct wed_ct thu_ct fri_ct sat_ct sun_ct
1   6     2003 0     0       1         0         0         0         0         0         1         0     0        5      4      4      4      4      4      5         34092.0
                                                                                                   1     0        5      4      4      4      4      4      5         55349.0
2   7     2003 0     0       0         1         1         1         0         0         0         0     0        4      5      5      5      4      4      4         40636.0
                                                                                                   1     0        4      5      5      5      4      4      4         63943.0
3   8     2003 0     0       0         0         0         0         1         1         1         0     0        4      4      4      4      5      5      5         39791.0
...                                                                                                                                                                       ...
224 1     2022 0     0       1         0         0         0         0         1         1         1     0        5      4      4      4      4      5      5         59444.0
225 2     2022 0     0       0         0         0         0         0         0         0         0     0        4      4      4      4      4      4      4         35058.0
                                                                                                   1     0        4      4      4      4      4      4      4         57556.0
226 3     2022 0     0       0         1         1         1         0         0         0         0     0        4      5      5      5      4      4      4         46968.0
                                                                                                   1     0        4      5      5      5      4      4      4         72848.0

                                                                                                                                                                    carrier_ct  \
t   month year covid control extra_mon extra_tue extra_wed extra_thu extra_fri extra_sat extra_sun top30 fulldata mon_ct tue_ct wed_ct thu_ct fri_ct sat_ct sun_ct
1   6     2003 0     0       1         0         0         0         0         0         1         0     0        5      4      4      4      4      4      5         11024.81
                                                                                                   1     0        5      4      4      4      4      4      5         12273.32
2   7     2003 0     0       0         1         1         1         0         0         0         0     0        4      5      5      5      4      4      4         12722.24
                                                                                                   1     0        4      5      5      5      4      4      4         14442.74
3   8     2003 0     0       0         0         0         0         1         1         1         0     0        4      4      4      4      5      5      5         12253.10
...                                                                                                                                                                        ...
224 1     2022 0     0       1         0         0         0         0         1         1         1     0        5      4      4      4      4      5      5         24004.28
225 2     2022 0     0       0         0         0         0         0         0         0         0     0        4      4      4      4      4      4      4         15056.30
                                                                                                   1     0        4      4      4      4      4      4      4         21107.39
226 3     2022 0     0       0         1         1         1         0         0         0         0     0        4      5      5      5      4      4      4         18908.37
                                                                                                   1     0        4      5      5      5      4      4      4         24672.84

                                                                                                                                                                    weather_ct  \
t   month year covid control extra_mon extra_tue extra_wed extra_thu extra_fri extra_sat extra_sun top30 fulldata mon_ct tue_ct wed_ct thu_ct fri_ct sat_ct sun_ct
1   6     2003 0     0       1         0         0         0         0         0         1         0     0        5      4      4      4      4      4      5          1808.35
                                                                                                   1     0        5      4      4      4      4      4      5          2380.35
2   7     2003 0     0       0         1         1         1         0         0         0         0     0        4      5      5      5      4      4      4          2120.30
                                                                                                   1     0        4      5      5      5      4      4      4          2959.11
3   8     2003 0     0       0         0         0         0         1         1         1         0     0        4      4      4      4      5      5      5          2448.07
...                                                                                                                                                                        ...
224 1     2022 0     0       1         0         0         0         0         1         1         1     0        5      4      4      4      4      5      5          2258.84
225 2     2022 0     0       0         0         0         0         0         0         0         0     0        4      4      4      4      4      4      4          1303.31
                                                                                                   1     0        4      4      4      4      4      4      4          2114.98
226 3     2022 0     0       0         1         1         1         0         0         0         0     0        4      5      5      5      4      4      4          1314.98
                                                                                                   1     0        4      5      5      5      4      4      4          2137.49

                                                                                                                                                                      nas_ct  \
t   month year covid control extra_mon extra_tue extra_wed extra_thu extra_fri extra_sat extra_sun top30 fulldata mon_ct tue_ct wed_ct thu_ct fri_ct sat_ct sun_ct
1   6     2003 0     0       1         0         0         0         0         0         1         0     0        5      4      4      4      4      4      5       10744.09
                                                                                                   1     0        5      4      4      4      4      4      5       25876.01
2   7     2003 0     0       0         1         1         1         0         0         0         0     0        4      5      5      5      4      4      4       13293.83
                                                                                                   1     0        4      5      5      5      4      4      4       28233.83
3   8     2003 0     0       0         0         0         0         1         1         1         0     0        4      4      4      4      5      5      5       13183.27
...                                                                                                                                                                      ...
224 1     2022 0     0       1         0         0         0         0         1         1         1     0        5      4      4      4      4      5      5       15190.49
225 2     2022 0     0       0         0         0         0         0         0         0         0     0        4      4      4      4      4      4      4        7248.20
                                                                                                   1     0        4      4      4      4      4      4      4       15980.39
226 3     2022 0     0       0         1         1         1         0         0         0         0     0        4      5      5      5      4      4      4       10199.45
                                                                                                   1     0        4      5      5      5      4      4      4       20940.41

                                                                                                                                                                    security_ct  \
t   month year covid control extra_mon extra_tue extra_wed extra_thu extra_fri extra_sat extra_sun top30 fulldata mon_ct tue_ct wed_ct thu_ct fri_ct sat_ct sun_ct
1   6     2003 0     0       1         0         0         0         0         0         1         0     0        5      4      4      4      4      4      5            161.75
                                                                                                   1     0        5      4      4      4      4      4      5            317.28
2   7     2003 0     0       0         1         1         1         0         0         0         0     0        4      5      5      5      4      4      4            101.45
                                                                                                   1     0        4      5      5      5      4      4      4            220.37
3   8     2003 0     0       0         0         0         0         1         1         1         0     0        4      4      4      4      5      5      5            126.36
...                                                                                                                                                                         ...
224 1     2022 0     0       1         0         0         0         0         1         1         1     0        5      4      4      4      4      5      5            186.50
225 2     2022 0     0       0         0         0         0         0         0         0         0     0        4      4      4      4      4      4      4            105.33
                                                                                                   1     0        4      4      4      4      4      4      4            219.72
226 3     2022 0     0       0         1         1         1         0         0         0         0     0        4      5      5      5      4      4      4            175.06
                                                                                                   1     0        4      5      5      5      4      4      4            279.70

                                                                                                                                                                    late_aircraft_ct  \
t   month year covid control extra_mon extra_tue extra_wed extra_thu extra_fri extra_sat extra_sun top30 fulldata mon_ct tue_ct wed_ct thu_ct fri_ct sat_ct sun_ct
1   6     2003 0     0       1         0         0         0         0         0         1         0     0        5      4      4      4      4      4      5               10352.98
                                                                                                   1     0        5      4      4      4      4      4      5               14502.16
2   7     2003 0     0       0         1         1         1         0         0         0         0     0        4      5      5      5      4      4      4               12398.34
                                                                                                   1     0        4      5      5      5      4      4      4               18087.00
3   8     2003 0     0       0         0         0         0         1         1         1         0     0        4      4      4      4      5      5      5               11780.20
...                                                                                                                                                                              ...
224 1     2022 0     0       1         0         0         0         0         1         1         1     0        5      4      4      4      4      5      5               17803.90
225 2     2022 0     0       0         0         0         0         0         0         0         0     0        4      4      4      4      4      4      4               11344.97
                                                                                                   1     0        4      4      4      4      4      4      4               18133.63
226 3     2022 0     0       0         1         1         1         0         0         0         0     0        4      5      5      5      4      4      4               16369.73
                                                                                                   1     0        4      5      5      5      4      4      4               24817.67

                                                                                                                                                                    arr_cancelled  \
t   month year covid control extra_mon extra_tue extra_wed extra_thu extra_fri extra_sat extra_sun top30 fulldata mon_ct tue_ct wed_ct thu_ct fri_ct sat_ct sun_ct
1   6     2003 0     0       1         0         0         0         0         0         1         0     0        5      4      4      4      4      4      5              1673.0
                                                                                                   1     0        5      4      4      4      4      4      5              2488.0
2   7     2003 0     0       0         1         1         1         0         0         0         0     0        4      5      5      5      4      4      4              2944.0
                                                                                                   1     0        4      5      5      5      4      4      4              4891.0
3   8     2003 0     0       0         0         0         0         1         1         1         0     0        4      4      4      4      5      5      5              3128.0
...                                                                                                                                                                           ...
224 1     2022 0     0       1         0         0         0         0         1         1         1     0        5      4      4      4      4      5      5             21652.0
225 2     2022 0     0       0         0         0         0         0         0         0         0     0        4      4      4      4      4      4      4              8633.0
                                                                                                   1     0        4      4      4      4      4      4      4             13103.0
226 3     2022 0     0       0         1         1         1         0         0         0         0     0        4      5      5      5      4      4      4              3740.0
                                                                                                   1     0        4      5      5      5      4      4      4              5002.0

                                                                                                                                                                    arr_diverted  \
t   month year covid control extra_mon extra_tue extra_wed extra_thu extra_fri extra_sat extra_sun top30 fulldata mon_ct tue_ct wed_ct thu_ct fri_ct sat_ct sun_ct
1   6     2003 0     0       1         0         0         0         0         0         1         0     0        5      4      4      4      4      4      5              318.0
                                                                                                   1     0        5      4      4      4      4      4      5              707.0
2   7     2003 0     0       0         1         1         1         0         0         0         0     0        4      5      5      5      4      4      4              353.0
                                                                                                   1     0        4      5      5      5      4      4      4              852.0
3   8     2003 0     0       0         0         0         0         1         1         1         0     0        4      4      4      4      5      5      5              374.0
...                                                                                                                                                                          ...
224 1     2022 0     0       1         0         0         0         0         1         1         1     0        5      4      4      4      4      5      5              651.0
225 2     2022 0     0       0         0         0         0         0         0         0         0     0        4      4      4      4      4      4      4              401.0