In [1]:
import pandas as pd
from datetime import date
import numpy as np

In [2]:
prep = pd.read_csv("data/prep.csv",index_col=0)
prep

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,fri_ct,extra_fri,sat_ct,extra_sat,sun_ct,extra_sun,fulldata,t,covid,control
0,2022,3,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",135.0,12.0,4.21,1.93,...,4,0,4,0,4,0,0,226,0,0
1,2022,3,9E,Endeavor Air Inc.,ABY,"Albany, GA: Southwest Georgia Regional",79.0,10.0,4.03,0.76,...,4,0,4,0,4,0,0,226,0,0
2,2022,3,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",79.0,15.0,5.36,0.37,...,4,0,4,0,4,0,0,226,0,0
3,2022,3,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",147.0,12.0,3.92,1.00,...,4,0,4,0,4,0,0,226,0,0
4,2022,3,9E,Endeavor Air Inc.,ALB,"Albany, NY: Albany International",92.0,21.0,2.72,0.98,...,4,0,4,0,4,0,0,226,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317694,2003,6,DL,Delta Air Lines Inc.,SEA,"Seattle, WA: Seattle/Tacoma International",480.0,84.0,25.69,3.09,...,4,0,4,0,5,1,0,1,0,0
317695,2003,6,DL,Delta Air Lines Inc.,SFO,"San Francisco, CA: San Francisco International",505.0,111.0,21.78,2.24,...,4,0,4,0,5,1,0,1,0,0
317696,2003,6,DL,Delta Air Lines Inc.,SJC,"San Jose, CA: Norman Y. Mineta San Jose Intern...",146.0,36.0,6.99,0.00,...,4,0,4,0,5,1,0,1,0,0
317697,2003,6,DL,Delta Air Lines Inc.,SJU,"San Juan, PR: Luis Munoz Marin International",95.0,13.0,3.66,0.00,...,4,0,4,0,5,1,0,1,0,0
317698,2003,6,DL,Delta Air Lines Inc.,SLC,"Salt Lake City, UT: Salt Lake City International",3466.0,454.0,121.15,7.61,...,4,0,4,0,5,1,0,1,0,0

In [4]:

monthSums = prep.groupby([prep.t,prep.carrier,prep.carrier_name,prep.month,prep.year,prep.covid,prep.control,prep.extra_mon,prep.extra_tue,prep.extra_wed,prep.extra_thu,prep.extra_fri,prep.extra_sat,prep.extra_sun,prep.top30,prep.fulldata,prep.mon_ct,prep.tue_ct,prep.wed_ct,prep.thu_ct,prep.fri_ct,prep.sat_ct,prep.sun_ct]).sum()

monthSums.to_csv('data/sum-months-carrier.csv')

In [5]:
monthSums

                                                                                                                                                                                                   arr_flights  \
t   carrier carrier_name           month year covid control extra_mon extra_tue extra_wed extra_thu extra_fri extra_sat extra_sun top30 fulldata mon_ct tue_ct wed_ct thu_ct fri_ct sat_ct sun_ct
1   AA      American Airlines Inc. 6     2003 0     0       1         0         0         0         0         0         1         0     0        5      4      4      4      4      4      5           18860.0
                                                                                                                                  1     0        5      4      4      4      4      4      5           43418.0
    AS      Alaska Airlines Inc.   6     2003 0     0       1         0         0         0         0         0         1         0     0        5      4      4      4      4      4      5            6453.0
                                                                                                                                  1     0        5      4      4      4      4      4      5            8084.0
    B6      JetBlue Airways        6     2003 0     0       1         0         0         0         0         0         1         0     0        5      4      4      4      4      4      5            1886.0
...                                                                                                                                                                                                        ...
226 WN      Southwest Airlines Co. 3     2022 0     0       0         1         1         1         0         0         0         1     0        4      5      5      5      4      4      4           50391.0
    YV      Mesa Airlines Inc.     3     2022 0     0       0         1         1         1         0         0         0         0     0        4      5      5      5      4      4      4            4129.0
                                                                                                                                  1     0        4      5      5      5      4      4      4            5685.0
    YX      Republic Airline       3     2022 0     0       0         1         1         1         0         0         0         0     0        4      5      5      5      4      4      4           11623.0
                                                                                                                                  1     0        4      5      5      5      4      4      4           18469.0

                                                                                                                                                                                                   arr_del15  \
t   carrier carrier_name           month year covid control extra_mon extra_tue extra_wed extra_thu extra_fri extra_sat extra_sun top30 fulldata mon_ct tue_ct wed_ct thu_ct fri_ct sat_ct sun_ct
1   AA      American Airlines Inc. 6     2003 0     0       1         0         0         0         0         0         1         0     0        5      4      4      4      4      4      5          3267.0
                                                                                                                                  1     0        5      4      4      4      4      4      5          8246.0
    AS      Alaska Airlines Inc.   6     2003 0     0       1         0         0         0         0         0         1         0     0        5      4      4      4      4      4      5          1033.0
                                                                                                                                  1     0        5      4      4      4      4      4      5          1348.0
    B6      JetBlue Airways        6     2003 0     0       1         0         0         0         0         0         1         0     0        5      4      4      4      4      4      5           264.0
...                                                                                                                                                                                                      ...
226 WN      Southwest Airlines Co. 3     2022 0     0       0         1         1         1         0         0         0         1     0        4      5      5      5      4      4      4         13323.0
    YV      Mesa Airlines Inc.     3     2022 0     0       0         1         1         1         0         0         0         0     0        4      5      5      5      4      4      4           699.0
                                                                                                                                  1     0        4      5      5      5      4      4      4           895.0
    YX      Republic Airline       3     2022 0     0       0         1         1         1         0         0         0         0     0        4      5      5      5      4      4      4          2516.0
                                                                                                                                  1     0        4      5      5      5      4      4      4          3711.0

                                                                                                                                                                                                   carrier_ct  \
t   carrier carrier_name           month year covid control extra_mon extra_tue extra_wed extra_thu extra_fri extra_sat extra_sun top30 fulldata mon_ct tue_ct wed_ct thu_ct fri_ct sat_ct sun_ct
1   AA      American Airlines Inc. 6     2003 0     0       1         0         0         0         0         0         1         0     0        5      4      4      4      4      4      5           953.23
                                                                                                                                  1     0        5      4      4      4      4      4      5          1846.02
    AS      Alaska Airlines Inc.   6     2003 0     0       1         0         0         0         0         0         1         0     0        5      4      4      4      4      4      5           430.87
                                                                                                                                  1     0        5      4      4      4      4      4      5           405.64
    B6      JetBlue Airways        6     2003 0     0       1         0         0         0         0         0         1         0     0        5      4      4      4      4      4      5           154.73
...                                                                                                                                                                                                       ...
226 WN      Southwest Airlines Co. 3     2022 0     0       0         1         1         1         0         0         0         1     0        4      5      5      5      4      4      4          4651.57
    YV      Mesa Airlines Inc.     3     2022 0     0       0         1         1         1         0         0         0         0     0        4      5      5      5      4      4      4           397.53
                                                                                                                                  1     0        4      5      5      5      4      4      4           310.90
    YX      Republic Airline       3     2022 0     0       0         1         1         1         0         0         0         0     0        4      5      5      5      4      4      4           676.37
                                                                                                                                  1     0        4      5      5      5      4      4      4           883.02

                                                                                                                                                                                                   weather_ct  \
t   carrier carrier_name           month year covid control extra_mon extra_tue extra_wed extra_thu extra_fri extra_sat extra_sun top30 fulldata mon_ct tue_ct wed_ct thu_ct fri_ct sat_ct sun_ct
1   AA      American Airlines Inc. 6     2003 0     0       1         0         0         0         0         0         1         0     0        5      4      4      4      4      4      5           376.26
                                                                                                                                  1     0        5      4      4      4      4      4      5           608.23
    AS      Alaska Airlines Inc.   6     2003 0     0       1         0         0         0         0         0         1         0     0        5      4      4      4      4      4      5             7.95
                                                                                                                                  1     0        5      4      4      4      4      4      5             5.46
    B6      JetBlue Airways        6     2003 0     0       1         0         0         0         0         0         1         0     0        5      4      4      4      4      4      5            10.00
...                                                                                                                                                                                                       ...
226 WN      Southwest Airlines Co. 3     2022 0     0       0         1         1         1         0         0         0         1     0        4      5      5      5      4      4      4           101.12
    YV      Mesa Airlines Inc.     3     2022 0     0       0         1         1         1         0         0         0         0     0        4      5      5      5      4      4      4            42.43
                                                                                                                                  1     0        4      5      5      5      4      4      4            67.04
    YX      Republic Airline       3     2022 0     0       0         1         1         1         0         0         0         0     0        4      5      5      5      4      4      4            61.33
                                                                                                                                  1     0        4      5      5      5      4      4      4           101.01

                                                                                                                                                                                                    nas_ct  \
t   carrier carrier_name           month year covid control extra_mon extra_tue extra_wed extra_thu extra_fri extra_sat extra_sun top30 fulldata mon_ct tue_ct wed_ct thu_ct fri_ct sat_ct sun_ct
1   AA      American Airlines Inc. 6     2003 0     0       1         0         0         0         0         0         1         0     0        5      4      4      4      4      4      5       1260.86
                                                                                                                                  1     0        5      4      4      4      4      4      5       3995.74
    AS      Alaska Airlines Inc.   6     2003 0     0       1         0         0         0         0         0         1         0     0        5      4      4      4      4      4      5        115.24
                                                                                                                                  1     0        5      4      4      4      4      4      5        390.75
    B6      JetBlue Airways        6     2003 0     0       1         0         0         0         0         0         1         0     0        5      4      4      4      4      4      5         47.39
...                                                                                                                                                                                                    ...
226 WN      Southwest Airlines Co. 3     2022 0     0       0         1         1         1         0         0         0         1     0        4      5      5      5      4      4      4       2597.25
    YV      Mesa Airlines Inc.     3     2022 0     0       0         1         1         1         0         0         0         0     0        4      5      5      5      4      4      4        133.05
                                                                                                                                  1     0        4      5      5      5      4      4      4        293.55
    YX      Republic Airline       3     2022 0     0       0         1         1         1         0         0         0         0     0        4      5      5      5      4      4      4        943.06
                                                                                                                                  1     0        4      5      5      5      4      4      4       1632.98

                                                                                                                                                                                                   security_ct  \
t   carrier carrier_name           month year covid control extra_mon extra_tue extra_wed extra_thu extra_fri extra_sat extra_sun top30 fulldata mon_ct tue_ct wed_ct thu_ct fri_ct sat_ct sun_ct
1   AA      American Airlines Inc. 6     2003 0     0       1         0         0         0         0         0         1         0     0        5      4      4      4      4      4      5             28.89
                                                                                                                                  1     0        5      4      4      4      4      4      5             57.20
    AS      Alaska Airlines Inc.   6     2003 0     0       1         0         0         0         0         0         1         0     0        5      4      4      4      4      4      5             22.70
                                                                                                                                  1     0        5      4      4      4      4      4      5             32.83
    B6      JetBlue Airways        6     2003 0     0       1         0         0         0         0         0         1         0     0        5      4      4      4      4      4      5              8.22
...                                                                                                                                                                                                        ...
226 WN      Southwest Airlines Co. 3     2022 0     0       0         1         1         1         0         0         0         1     0        4      5      5      5      4      4      4             56.47
    YV      Mesa Airlines Inc.     3     2022 0     0       0         1         1         1         0         0         0         0     0        4      5      5      5      4      4      4              0.69
                                                                                                                                  1     0        4      5      5      5      4      4      4              1.84
    YX      Republic Airline       3     2022 0     0       0         1         1         1         0         0         0         0     0        4      5      5      5      4      4      4              5.52
                                                                                                                                  1     0        4      5      5      5      4      4      4              6.64

                                                                                                                                                                                                   late_aircraft_ct  \
t   carrier carrier_name           month year covid control extra_mon extra_tue extra_wed extra_thu extra_fri extra_sat extra_sun top30 fulldata mon_ct tue_ct wed_ct thu_ct fri_ct sat_ct sun_ct
1   AA      American Airlines Inc. 6     2003 0     0       1         0         0         0         0         0         1         0     0        5      4      4      4      4      4      5                 647.79
                                                                                                                                  1     0        5      4      4      4      4      4      5                1738.84
    AS      Alaska Airlines Inc.   6     2003 0     0       1         0         0         0         0         0         1         0     0        5      4      4      4      4      4      5                 456.25
                                                                                                                                  1     0        5      4      4      4      4      4      5                 513.31
    B6      JetBlue Airways        6     2003 0     0       1         0         0         0         0         0         1         0     0        5      4      4      4      4      4      5                  43.64
...                                                                                                                                                                                                             ...
226 WN      Southwest Airlines Co. 3     2022 0     0       0         1         1         1         0         0         0         1     0        4      5      5      5      4      4      4                5916.58
    YV      Mesa Airlines Inc.     3     2022 0     0       0         1         1         1         0         0         0         0     0        4      5      5      5      4      4      4                 125.32
                                                                                                                                  1     0        4      5      5      5      4      4      4                 221.67
    YX      Republic Airline       3     2022 0     0       0         1         1         1         0         0         0         0     0        4      5      5      5      4      4      4                 829.71
                                                                                                                                  1     0        4      5      5      5      4      4      4                1087.35

                                                                                                                                                                                                   arr_cancelled  \
t   carrier carrier_name           month year covid control extra_mon extra_tue extra_wed extra_thu extra_fri extra_sat extra_sun top30 fulldata mon_ct tue_ct wed_ct thu_ct fri_ct sat_ct sun_ct
1   AA      American Airlines Inc. 6     2003 0     0       1         0         0         0         0         0         1         0     0        5      4      4      4      4      4      5               114.0
                                                                                                                                  1     0        5      4      4      4      4      4      5               340.0
    AS      Alaska Airlines Inc.   6     2003 0     0       1         0         0         0         0         0         1         0     0        5      4      4      4      4      4      5               122.0
                                                                                                                                  1     0        5      4      4      4      4      4      5                93.0